.activeAnimation {
    animation: alert 4s ease !important;
  }

  .blur-out-contract {
    -webkit-animation: blur-out-contract 1s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
            animation: blur-out-contract 1s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
  }

  .focus-in-expand {
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }

  .newAlert {
    font-weight: bolder;
  
    color: var(--secondary-bg-color);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 25px 0 #555555;
    transition: box-shadow 1s ease;
    transition-delay: 1s;
  }

p:before {
    content: attr(data-before);
    word-break: break-all;
    opacity: 0.5;
}
p:after {
    content: attr(data-after);
    word-break: break-all;
    opacity: 0.5;
}



h1:before {
  content: attr(data-before);
  word-break: break-all;
  opacity: 0.5;
}
h1:after {
  content: attr(data-after);
  word-break: break-all;
  opacity: 0.5;
}

.asd:before {
content: none;
}


#alert {
    position: fixed;
    bottom: calc(100vh / 9);
    left: 0;
  }

 

@keyframes alert {
    0% {
      bottom: calc(100vh / 9);
      left:0;
      opacity: 0;
    }
  
    50% {
      bottom: calc(100vh / 9);
      opacity: 1;
      left: 0;
    }
    100% {
      left: -600px;
    }
  }


 @-webkit-keyframes blur-out-contract {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out-contract {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}


@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
